.quiz-result__layout {
    --border-color: #3c3c3c;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--quiz-result-layout-bg);
    color: var(--quiz-result-layout-color);
}

.quiz-result__left,
.quiz-result__center,
.quiz-result__right {
    padding: 10px 15px;
    flex-basis: 33%;
    align-self: center;
    text-align: center;
}

.quiz-result__center {
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
}

.quiz-percents__percents {
    font-size: 48px;
    font-weight: 700;
    color: var(--quiz-result-layout-second-color);
}

.quiz-result-indicator__text {
    color: var(--quiz-result-layout-second-color);
}

.quiz-result-indicator__level {
    font-weight: 700;
}

.quiz-result-indicator__level-junior {
    color: var(--indicator-junior);
}

.quiz-result-indicator__level-middle {
    color: var(--indicator-middle);
}

.quiz-result-indicator__level-senior {
    color: var(--indicator-senior);
}

.quiz-result-indicator__indicator {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 203px;
    height: 102px;
    /*background: no-repeat url("../public/images/test.svg");*/
}

.quiz-result-indicator__arrow {
    position: absolute;
    bottom: 2px;
    left: 51px;
    width: 45px;
    height: 4px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: rotate(0deg);
    background: #d8d8d8;

}

.quiz-result__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--quiz-result-buttons-bg);
    border-radius: 0 0 10px 10px;
}

.quiz-result__retry-form {
    margin-right: 30px;
}

.quiz-result-button {
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 20px;
    font-weight: 700;
    font-size: 15px;
}

.quiz-result__retry-button {
    color: var(--text-color);
    border: 1px solid #cfcecd;
    background: linear-gradient(180deg, #ededed 0, #cecece);
}

.quiz-result__retry-button:hover,
.quiz-result__retry-button:active,
.quiz-result__retry-button:visited {
    background: linear-gradient(180deg, #f5f5f5 0, #e6e6e6);
}

.quiz-result__save-button {
    background: var(--btn-bg-color);
    color: var(--border-color);
    border: 1px solid var(--btn-color);
}

.quiz-result__save-button:hover,
.quiz-result__save-button:active,
.quiz-result__save-button:visited {
    background: var(--btn-bg-color-hover);
}

.result__question {
    margin-bottom: 25px;
    padding: 30px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
}

.quiz-question__correct {
    border: 3px solid var(--quiz-corect-variant-border);
}

.quiz-question__incorrect {
    border: 3px solid var(--quiz-incorect-variant-border);
}

.quiz-answer-correct {
    color: var(--quiz-corect-variant);
    font-weight: 700;
}

.quiz-answer-incorrect {
    color: var(--quiz-incorect-variant);
    font-weight: 700;
}

.result__quiz {
    padding: 5px;
}

@media only screen and (max-width: 700px) {
    .quiz-result__layout {
        flex-direction: column;
        padding: 0;
    }

    .quiz-result__left,
    .quiz-result__center,
    .quiz-result__right {
        align-self: auto;
        padding: 30px 10px;
    }

    .quiz-result__center {
        border: none;
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
    }
}

@media only screen and (max-width: 550px) {

    .quiz-result__layout,
    .quiz-result__buttons {
        border-radius: 0;
    }

    .quiz-question__body {
        padding: 20px;
        border: none;
    }

    .quiz-result__buttons {
        flex-direction: column;
    }

    .quiz-result__retry-form {
        margin: 0 0 20px 0;
    }
}
